.playground {
    width: 50%;
    height: 50%;
    margin: auto;
    border: 1px solid black;
    position: relative;
  }
  
  body,
  html,
  .root {
    height: 100%;
  }
  
  .ball {
    background-color: black;
    box-shadow: 0 10px 10px -6px;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
  
  .start {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  